# The database name (Neon defaults to 'neondb')
DB_POSTGRESDB_DATABASE=neondb

# The host URL (Everything after the '@' and before the '/' in the Neon string)
# Do NOT include "postgres://" or "?sslmode=require" here.
# Format example: ep-nameless-shape-123456.us-east-2.aws.neon.tech
DB_POSTGRESDB_HOST=your_neon_hostname_here

# Your Neon database password
DB_POSTGRESDB_PASSWORD=your_neon_password_here

# Your Neon database username
DB_POSTGRESDB_USER=your_neon_username_here
